.proDetails {
  height: auto !important;
}

.upload {
  input[type=submit],
  label {
    padding: 0.5rem;
    color: #1DB954;
    background-color: var(--gray-dark);
    font-weight: bold;
    font-size: $defult;
    padding: 0.5rem 1.8rem;
    border: 1px solid #1DB954;
    color: #c5c6c6;
    cursor: pointer;
  }

  input[type=file] {
    display: none;
  }
}

.updtInfo {
  position: relative;
  padding: $defultPM;
  text-align: right;

  .updtLink {
    padding: $defultPM $midPM;
    @include linktype(var(--primary),rgba(#0090e7, 0.3));

    &:hover {
      @include linktype(var(--white),var(--primary));
    }
  }
}

.proForm {
  .basicInfo,
  .contactInfo {
    li {
      padding-bottom: 0.1rem;
    }

    input {
      @include fixed_area(auto,100%);
      padding: 0.4rem $midPM;
      background: red;
      background: rgba(black, 0.8);
      color: var(--white);
      font-size: $defult;
      border: 0;
      outline: 0;

      &:focus {
        border-bottom: $border;
        color: var(--dark-blue);
        border: 1px solid var(--green);
      }
    }
  }

  .updtInfo {
    ul {
      li {
        display: inline-block;

        &:not(:last-child) {
          margin-right: $defultPM;
        }

        input[type=submit] {
          border: 0;
          outline: 0;
        }
      }

      .cancel {
        @include linktype(var(--red),rgba(#f96868, 0.3));
        padding: $defultPM $midPM;

        &:hover {
          @include linktype(var(--white),var(--red));
        }
      }

      .submit {
        @include linktype(var(--green),rgba(#46c35f, 0.3));
        padding: $defultPM $midPM;

        &:hover {
          @include linktype(var(--white),var(--green));
        }
      }
    }
  }
}